@use 'tailwindcss';

@layer components {
  .btn {
    @apply 
      inline-flex 
      items-center 
      justify-center 
      gap-2 
      px-4
      py-2 
      rounded-md 
      border border-transparent 
      cursor-pointer 
      transition-all 
      duration-200 
      no-underline 
      whitespace-nowrap
      font-bold
  }
}