// @layer components {
//   .ama-btn.mat-mdc-filled-button {
//     /* SIZE */
//     --mat-button-filled-container-height: 44px;
//     --mat-button-filled-horizontal-padding: 24px;
//     min-width: 100px;

//     /* TYPOGRAPHY */
//     --mat-button-filled-label-text-font: var(--font-myriad);
//     --mat-button-filled-label-text-size: var(--text-button);
//     --mat-button-filled-label-text-weight: 600;
//     --mat-button-filled-label-text-transform: none;
//     --mat-button-filled-label-text-tracking: 0;

//     /* SHAPE */
//     --mdc-filled-button-container-shape: 6px;
//     --mdc-filled-button-container-elevation: 0;

//     /* Layout niceties */
//     gap: var(--spacing-4);
//   }

//   button.mat-mdc-filled-button.ama-btn--primary {
//     --mdc-filled-button-container-color: var(--color-primary);
//     --mdc-filled-button-label-text-color: var(--color-white);
//   }
//   button.mat-mdc-filled-button.ama-btn--primary:hover:not(:disabled) {
//     --mdc-filled-button-container-color: var(--color-purple-700);
//   }
//   button.mat-mdc-filled-button.ama-btn--primary:disabled {
//     --mdc-filled-button-container-color: var(--color-grey-100);
//     --mdc-filled-button-label-text-color: var(--color-grey-400);
//   }

//   button.mat-mdc-filled-button.ama-btn--secondary {
//     --mdc-filled-button-container-color: transparent;
//     --mdc-filled-button-label-text-color: var(--color-text-primary);
//     border: 1px solid var(--color-divider-line);
//   }
//   button.mat-mdc-filled-button.ama-btn--secondary:hover:not(:disabled) {
//     --mdc-filled-button-container-color: var(--color-light-grey);
//   }
//   button.mat-mdc-filled-button.ama-btn--secondary:disabled {
//     --mdc-filled-button-container-color: var(--color-grey-100);
//     --mdc-filled-button-label-text-color: var(--color-grey-400);
//     border-color: var(--color-grey-100);
//   }

//   button.mat-mdc-filled-button.ama-btn--text {
//     --mdc-filled-button-container-color: transparent;
//     --mdc-filled-button-label-text-color: var(--color-text-primary);
//   }
//   button.mat-mdc-filled-button.ama-btn--text:hover:not(:disabled) {
//     --mdc-filled-button-container-color: var(--color-light-grey);
//   }

//   button.mat-mdc-filled-button.ama-btn--link {
//     --mdc-filled-button-container-color: transparent;
//     --mdc-filled-button-label-text-color: var(--color-primary);
//     text-decoration: underline;
//     text-underline-offset: 3px;
//   }

//   .ama-btn.mat-mdc-filled-button:focus-visible {
//     outline: 2px solid var(--color-secondary);
//     outline-offset: 3px;
//   }
// }
