.freida-v2 {
  @layer components {
    .layout-container {
      @apply mx-auto max-w-[1248px] px-6;
    }
    @media (min-width: 768px) {
      .layout-container {
        @apply px-8;
      }
    }
    @media (min-width: 1024px) {
      .layout-container {
        @apply px-10;
      }
    }
    .layout-row {
      @apply grid grid-cols-12 gap-x-6 lg:gap-x-8;
    }
  }
}
